
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

  background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    border-bottom: solid 5px white;
}

header a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Cascadia Code', monospace;
    margin: 15px;
}

.menu{
    display: flex;
    list-style: none;
    margin: 15px;
}

.menu li {
    text-decoration: none;
}

.menu li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
}

/* Inicio Main */
.principal img{
    width: 100%;
    border-bottom: 3px solid white;
}


/* Lenguajes */
.lenguajes h1{
    color: white;
    font-size: 40px;
    font-family: 'Cascadia Code', monospace;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

.card {
    margin: 10px;
    border: 3px solid black;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.card img{
    width: 100px;
    height: 100px;
}

.card h3{
    font-size: 18px;
}

.cards{
    display: flex;
    gap: 30px;
    margin-top: 150px;
    padding-bottom: 250px;
    margin-left: 250px;
    margin-right: 250px;
    
}
.card h3{
    font-size: 24px;
    font-family: 'Cascadia Code', monospace;
    color: white;
}
.card p{
    font-size: 18px;
    font-family: 'Cascadia Code', monospace;
    color: white;
}


/* Nosotros */

.nosotros{
  padding-top: 20px;
}
.nosotros h1{
    color: white;
    text-align: center;
    font-size: 32px;
    font-family: 'Cascadia Code', monospace;
}

.nosotros h2{
    color: white;
    text-align: center;
    font-size: 22px;
    margin-left: 120px;
    margin-right: 120px;
    font-family: 'Cascadia Code', monospace;
}

.presentacion1{
    border: solid 2px white;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 60px;
    padding-right: 70px;
}

.presentacion1 img{
    width: 250px;
    height: 5%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.presentacion1 h2{
    color: white;
    font-size: 30px;
    font-family: 'Cascadia Code', monospace;
    padding-top: 20px;
    padding-left: 80px;
}

.presentacion1 p{
    color: white;
    font-size: 18px;
    font-family: 'Cascadia Code', monospace;
    padding-top: 20px;
    padding-left: 80px;
}



/* boton redes */
 
ul {
  list-style: none;
}

.example-2 {
  display: flex;
  align-items: center;
  padding-left: 80px;
  padding-top: 20px;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}



/* contacto */
.contacto{
  color: white;
  text-align: center;
  font-size: 26px;
  font-family: 'Cascadia Code', monospace;
  padding-top: 60px;
}



.formulario1{
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.form {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 600px;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.form .title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  height: 80px;
}

.form textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}

.form button {
  align-self: flex-end;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
  color: black;
  cursor: pointer;
}

.mapa-mdza{
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.mapa-mdza iframe{
  width: 800px;
  height: 600px;
  margin-bottom: 100px;
}

/* Footer */

footer{
    background-color: black;
    border-top: solid 5px white;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: 'Cascadia Code', monospace;
}


/* Media queries */

@media(min-width: 1024px){
  .cards{
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
    width: 100%;
    margin-bottom: 328px;
  }


  .presentacion1{
    margin-left: 50px;
    margin-right: 50px;
  }

  .presentacion1 img{
    width: 200px;
    margin-top: 40px;
    margin-left: 10px;
  }
  }
  .presentacion1 h2{
    font-size: 22px;
  }
  .presentacion1 p{
    font-size: 18px;
  }

  .example-2{
    padding-bottom: 30px;
  }

  @media (min-width:768px) and (max-width:1023px){
    header{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .cards{
      display: flex;
      flex-direction: column;
    }

    .presentacion1{
      margin-left: 25px;
      margin-right: 25px;
    }
  }